<div class="chat-container">
    <div #chatBox class="messages d-flex flex-column chat-box" style="overflow-y: auto; height: 400px;">
      <div *ngFor="let msg of messages" 
      [ngClass]="{
        'mine': msg.senderId === currentUserId && msg.type === 'message', 
        'theirs': msg.senderId !== currentUserId && msg.type === 'message',
        'separator': msg.type === 'separator'
        }">
      <!--<div *ngFor="let msg of messages" [ngClass]="{'mine': msg.senderId === currentUserId, 'theirs': msg.senderId !== currentUserId}">-->


        <div *ngIf="msg.type === 'separator'" class="date-separator text-muted">
          <small>{{ msg.label }}</small>
        </div>

        <span>{{ msg.content }}</span>
        <small class="timestamp">{{ msg.timestamp | date:'shortTime' }}</small>
      </div>
    </div>
  
    <div class="input-box">
      <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
      <span class="send-icon custom-tooltip-container" (click)="sendMessage()">
        <svg viewBox="0 0 24 24" height="24" width="24" style="cursor: pointer;">
          <path fill="currentColor" d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z" />
        </svg>
        <span class="custom-tooltip">send message</span>
      </span>
    </div>
</div>
  