<div class="login-container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <img src="assets/lorem.png" alt="User" class="logo-pic"/>

    <div class="input-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        [disabled]="isLoading"
        required
      />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        [disabled]="isLoading"
        required
      />
    </div>

    <!--<button type="submit" [disabled]="!loginForm.valid">Login</button>-->
        <!-- Button changes text to dots when loading -->
    <button type="submit" [disabled]="!loginForm.valid || isLoading">
      <ng-container *ngIf="!isLoading">Login</ng-container>
      <div *ngIf="isLoading" class="dots-loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

    <!--
    <div class="popup-overlay" *ngIf="isLoading">
      <div class="popup-content">
        <p>{{ popupMessage }}</p>
        <div class="spinner"></div>
      </div>
    </div>
    -->

    
  </form>
</div>
